<h1>Introduction</h1>

This is my analysis of the parks and rinks dataset for the final project.

<h1>Importing Pandas and MatpotLib</h1>

In [82]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

<h1>Establishing data</h1>

In this short code block I import my data set and print out the raw contents.

In [83]:
parks = pd.read_csv("parks.csv", index_col="id")
parks.head()

,name,type,park,location,surface_material,grandstand,inactive,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
id,,,,,,,,,,,,,,,,,
1592343416,Allegheny Commons Basketball Court 1,Basketball (Full),Allegheny Commons,NaN,NaN,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.454443,-80.008104
1365248699,Allegheny Commons Park Tennis Court 1,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452400,-80.012531
1757180821,Allegheny Commons Park Tennis Court 2,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452238,-80.012150
744303307,Allegheny Commons Park Tennis Court 3,Tennis,Allegheny Commons,NaN,Asphalt,0,f,Allegheny Center,1,22,42003562700,1,22,1,1-7,40.452075,-80.011767
1157777481,Alton Park Basketball Court 1,Basketball (Half),Alton Park,NaN,Asphalt,0,f,Beechview,4,19,42003191600,5,19,6,4-28,40.414152,-80.022305

<h1>Cleaning up the data</h1>

For this step, I filtered my data table to remove any statistics which are of no use to me in this proof. I accomplished this by filtering the table down to only two essential statistics: type of park, neighborhood.

In [84]:
parks_filtered = parks[["type", "neighborhood"]]
parks_filtered.head()

                         type      neighborhood
id
1592343416  Basketball (Full)  Allegheny Center
1365248699             Tennis  Allegheny Center
1757180821             Tennis  Allegheny Center
744303307              Tennis  Allegheny Center
1157777481  Basketball (Half)         Beechview

<h1>Finding the neighborhood with the most parks</h1>

Here I plot and calculate the neighborhood with the most amount of parks and rinks.

In [92]:
parks_list = parks_filtered["neighborhood"].value_counts().to_frame()
parks_list.rename(columns = {"neighborhood":"parks"})

                       parks
Squirrel Hill South       26
Highland Park             20
Hazelwood                 10
Beltzhoover                9
Brookline                  9
...                      ...
Marshall-Shadeland         1
Central Lawrenceville      1
Hays                       1
Bon Air                    1
Larimer                    1

[63 rows x 1 columns]

<h1>Filtering the data again</h1>

In [93]:
parks_list.median()

neighborhood    2.0
dtype: float64

After finding the neighborhood with the most parks, I decided to make my final graph less busy by removing all neighborhoods that have less than 2 parks since that is the lower half of the dataset.

In [94]:
parks_list("parks" > 2)

TypeError: '>' not supported between instances of 'str' and 'int'